.btn_submit {

    width: 500px;
    background-color: #14EFF5;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0;
    color: #0C0B0B;
    margin-top: 16px;
    cursor: pointer;
    
}