.btn_submit {

    // width: 100%;
    background-color: #14EFF5;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0;
    color: #0C0B0B;
    margin-top: 16px;
    cursor: pointer;
    
}

.btn-signout {
    background-color: #eb8b50;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px 32px;
    height: 40px;
    color: #0c0b0b77;
    // margin-top: 16px;
    cursor: pointer;

}